/* Variables */
:root {
    --font-family: "Barlow Semi Condensed", sans-serif;
    --violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--light-grayish-blue);
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
  
  .testimonials {
    padding: 3rem 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:"one one two three"
                        "four five five three" ;
  }
  
  .card {
    
    padding: 32px;
    border-radius: 10px;
    color: var(--white);
    box-shadow: 10px 14px 30px -20px rgba(0, 0, 0, 0.78);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card__header{
    display: flex;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
  }
  .card__header--info{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left:10px;
    font-size: small;
  }
  .card__header--info h2{
    margin-top:5px;
    font-size: 15px;
    opacity: 0.4;
  }
  .one{
    grid-area:one;
  
  }
  .two{
    grid-area:two;
  }
  .three{
    grid-area:three;
  }
  .four{
    grid-area:four;
  }
  .five{
    grid-area:five;
  }
  .card__intro{
    font-size: 25px ;
    font-weight: 900;
    margin-bottom: 20px;
    
  }
  .card__review{
    opacity: 0.4;
  }
  .card--violet {
    background-color: var(--violet);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 85% 0;
    background-size: 128px;
    position: relative;
    z-index:1;
  }
  .card__body--quotation{
    position: absolute;
    z-index: -1;
    margin-top: -32px ;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height:10vw;
    
  }
  
  .card__img {
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .card--gray {
    background-color: var(--dark-grayish-blue);
  }
  
  .card--black {
    background-color: var(--dark-blackish-blue);
  }
  
  .card--white {
    background-color: var(--white);
    color: var(--dark-grayish-blue);
  }
  
  .one{
    grid-area:one;
  
  }
  .two{
    grid-area:two;
  }
  .three{
    grid-area:three;
  }
  .four{
    grid-area:four;
  }
  .five{
    grid-area:five;
  }
  
  @media only screen and (max-width: 767px) {
    .testimonials {
      padding: 1rem;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 650px) {
  
    .testimonials {
      padding: 1rem;
      grid-template-columns: 1fr;
    }
  
    .one {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    .two {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  
    .three {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  
    .four {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  
    .five {
      grid-column: 1/2;
      grid-row: 5/6;
    }
  }
  